@import '~music-player-common/src/style/reset';
@import '~music-player-common/src/style/layout';
@import '~music-player-common/src/style/variable';
@import '~music-player-common/src/style/mixin';
@import '~antd/dist/antd.css';

#search-root-dom {
  padding: $padding-size-s;
}

.search-root-title {
  font-size: $font-size-xl;
  line-height: $line-height-xl;
}
